{% extends "layout.html" %} 
{% block container %} 
{% import "_macros.html" as macros %}

<div class="py-32 relative overflow-x-auto sm:rounded-lg">
  <form action="" method="POST" novalidate class="max-w-md mx-auto">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    
    <div class="hidden">
        {{ macros.campoNuevo(form.id) }}
    </div>
    
    <h2 class="text-2xl font-bold text-gray-800 mb-6 text-center">Modificar Curso</h2>

    <div class="relative z-0 w-full mb-6 group">
      {{ macros.campoNuevo(form.nombre, class="block py-2.5 px-2 w-full text-sm text-black bg-white border-0 border-b-2 border-gray-300 focus:outline-none focus:ring-0 focus:border-blue-600 peer") }}
    </div>

    <div class="relative z-0 w-full mb-6 group">
      {{ macros.campoNuevo(form.descripcion, class="block py-2.5 px-2 w-full text-sm text-black bg-white border-0 border-b-2 border-gray-300 focus:outline-none focus:ring-0 focus:border-blue-600 peer") }}
    </div>

    <div class="relative z-0 w-full mb-8 group">
      <label class="block mb-2 text-sm font-medium text-gray-900">Maestro Asignado</label>
      {{ form.maestro_id(class="block py-2.5 px-2 w-full text-sm text-black bg-white border-0 border-b-2 border-gray-300 focus:outline-none focus:ring-0 focus:border-blue-600 peer") }}
    </div>
    
    <div class="grid md:grid-cols-2 md:gap-6">
      <input 
        type="submit" 
        id="btn1" 
        name="btn1" 
        value="Modificar" 
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center cursor-pointer" 
      />
      <a href="/cursos" class="bg-green-500 text-white px-4 py-2 rounded flex items-center justify-center gap-2 hover:bg-green-600">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
        Cancelar
      </a>
    </div>
  </form>
</div>
{% endblock %}